doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous") 
    title Image Processing API Project
  body(class='bg-dark text-white')
    section(class='section')
      container
        .row.justify-content-center
          header
            h1(class='text-center') Image Processing API Project
            h4(class='text-center') Francisco Rivas
            br
            br
          .col-4.align-self-center
            table(class='table table-responsive table-bordered text-white' style='width:100%')
              th(class='text-center' colspan=2) Image Information
              each val, key in imgInfo
                tr
                  td #{key}
                  td #{val}
          .col-4.align-self-center
            img(src=imgName, class='rounded mx-auto d-block')